.bgBlack,
.btnBlack {
  background-color: black;
}

.btn-dark,
.btn-dark:active,
.btn-dark:visited {
  background-color: black !important;
}
.btn-dark:hover {
  background-color: rgba(0, 0, 0, 0.836) !important;
}
